/*COMMENTS*/
/* 07-01-2021: Created file with footer, Sidenav.*/
/*test	3*/

/* Add styles below this*/

h1 {
	border: none;
	outline: none;
	text-align: Left;
	font-weight: bold;
	color: black;
	font-size: 20px;
	font-family: times,serif;
   	
}

P {
	border: none;
	outline: none;
	text-align: Left;
	font-weight: normal;
	color: black;
	font-size: 14px;
	font-family: times,serif;
}

.hero-image {
  	/*USE ON PAGE: background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("xxx");*/
 	max-width:100%; /*responsive design*/
	height: 30%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	/*height:auto; responsive design*/
}

.hero-text {
  	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
	font-family: times,serif;
	font-size:25px;
}
  


.sidenav {
	height: 100%;
	text-align: Left;
  	position: absolute; /*will hold sidenav in place*/
 	 z-index: 1;
  	width: 12%; /*repsonsive:*15*/
	top: 32%;
	left: 1%;
	/*width: 130px;*/
	/*top: 220px;*
  	/*left: 10px;*/
  	background: White;
  	overflow-x: hidden;
  	padding: 0px 0;
	font-family: times,serif;
	/*font-family: Arial, sans-serif;*/
	font-size: 12px;
}

.sidenav a {
   	/*padding: 0px 8px 6px 16px; /*top,right,bottom, left */
	padding: 0% 0% .5% 1.0%; /*top,right,bottom, left */
 	text-decoration: none;
	text-align: Left;
	font-family: times,serif;
  	font-size: 12px;
  	color: #2196F3;
  	display: block;
}

.sidenav a:hover {
  color: #064579;
}

body, html {
  	height: 100%;
  	margin: 0;
	font-family: times,serif;
    }




.main {
  	/*margin-left: 140px; /* Same width as the sidebar + left position in px */
	padding: 0px 10px;
	font-style:normal;
	/*margin-left: 40px;*/
	margin-left: 17%; /* Same width as the sidebar + left position in px */ /*reponsive*/
	font-family: times,serif;
	color: black;
}





/*
@media screen and (max-height: 450px) {
  	.sidenav {padding-top: 220px;}
  	.sidenav a {font-size: 12px;}
}
*/

.collapsible {
  	/**USE ON PAGE: background-color: #3a7ae0;*/
	height: 10%; /*reactive*/
	/*margin-left: 14%; controlled by main class*/
  	color: white;
  	cursor: pointer;
  	/*padding: 18px; /*non-reactive*/
	padding: 1%; /*reactive*/
	width: 65%;
  	border: none;
  	text-align: Left;
  	outline: none;
  	font-size: 14px;
	font-family: times,serif;
}

.active, .collapsible:hover {
  	/**USE ON PAGE: background-color: #2a61b8;*/
}

.collapsible:after {
  	content: '\002B'; /* Unicode character for "plus" sign (+) */
  	/*margin-left: 14%; controlled by main class*/
  	color: white;
  	font-weight: bold;
  	float: right;
  	font-size: 14px;
	font-family: times,serif;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.content {
  	padding: 0% 0%; /*top,right,bottom,left 18px*/
	width: 91%; 
  	/*margin-left: 14%; controlled by main class*/
 	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  	background-color: #F8F9F9;
  	font-size: 12px;
	font-family: times,serif;
}


.footer{
	/*position: Fixed; this makes it sticky always at the bottom of the page*/
	/*margin-left: 17%; controlled by main class*/
	width: 100%;
	padding: 0px 0px 10px 0px; /*top,right,bottom, left */
	left: 0;
	bottom: 0;
	background-color: White;
	color: black;
	text-align: left;
  	font-size:8pt;
  	font-style:normal;
	font-family: times,serif;
 }

/*
Site References:
	1. Collapse Ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible
	2. Color Ref: https://blog.hubspot.com/website/change-background-color-html
  	3. Color Picker: https://www.google.com/search?q=html+color+picker&rlz=1C1ONGR_enUS947US947&oq=html+color&aqs=chrome.2.35i39j69i57j0i433j0i20i263l2j0i433j0l3.6575j0j15&sourceid=chrome&ie=UTF-8
	4. Email Ref: https://www.tutorialspoint.com/html/html_email_links.htm
 	5. hero image: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image
	6. HTML Layout Document: https://www.w3schools.com/html/html_layout.asp
	7. Lists Ref: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_ordered
	8. Side Nav: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed	
	9. Side Bar: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed2
	10. Style Line: <p style="font-family: times, serif; font-size:12pt; font-style:normal">
	
*/
